<div th:fragment="content">
    <h2>Lista de Produtos</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}">1</td>
                <td th:text="${produto.nome}">Produto</td>
                <td th:text="${produto.preco}">0.0</td>
                <td th:text="${produto.estoque}">0</td>
                <td>
                    <a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                    <form th:action="@{/produtos/deletar/{id}(id=${produto.id})}" method="post" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>


    <a href="/produtos/novo">Novo Produto</a>
</div>
